


#mainheader{
background-color: #a1cf3c; 

height: 120px; 
padding-top: 2px;
text-align: center;
}


#mainfooter{
background-color: #a1cf3c; 
height: 111px; 
}

#mainContent{
height: 480px; 
text-align: center;
background: white;
}

ul{
border-radius:15px;
background-color: #a1cf3c;
width: 300px;
color: white;
list-style-type: none; 
text-align: center;
}
li{
	height:50px;

}
li:hover{
	background-color:gray;
}
ul li{
border: 1px solid white; 	
}
ul li a{
color: white;

}

.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
  -moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	border-collapse: collapse !important;
	background-image: none !important;
}