@(artistForm : Form[(String,String)])


@import helper._
@main("SpotifyAlerts") {


<div style ="text-align: center;" class ="form-inline">

  <div style ="height:100px;"></div>
  <div>
    <span id="signinButton">
      <span
      class="g-signin"
      data-callback="signinCallback"
      data-clientid="CLIENT_ID"
      data-cookiepolicy="single_host_origin"
      data-requestvisibleactions="http://schemas.google.com/AddActivity"
      data-scope="https://www.googleapis.com/auth/plus.login">
    </span>
  </span>

</div>
<div style ="height:80px;"></div>


<div class="input-prepend">
  <span style="height:40px;" class="add-on"><h4>Find Artist</h3></span>
  <input id="spotify_song_search" type="text"style="height:40px;width: 400px" autocomplete="off">

</div>

  @form(routes.Application.submitArtist) {
<div>

  <label id ="selectedId"></label>
     <label id ="selectedName"></label>
  </div>
<div style ="height:80px;"></div>


<div>

  <button style="width: 200px;height:40px;" class="btn btn-success" type="submit">
    Alert me <i class="icon-bell icon-white"></i>
  </button>

}
</div>
</div>



}
